#root {
    
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    
}

.scroll-pane {
    
    -fx-background-color: transparent;
    
}

.split-pane .split-pane-divider {

    -fx-background-color: #babdc2;

}

#code-area {

    -fx-background-color: #babdc2;
    
}

.code-viewer {
    
    -fx-text-fill: #babdc2;
    
}

.code-viewer .content {
    
    -fx-background-radius: 0;
    
}

.code-viewer,
.code-viewer .content,
.code-viewer .scroll-pane .scroll-bar,
.code-viewer .scroll-pane .corner {

    -fx-background-color: #42454a;

}

.code-viewer .scroll-pane .scroll-bar .thumb {

    -fx-background-color:  #6e7175;
    -fx-background-radius: 30, 30, 30, 30;

}

.code-viewer .scroll-pane .scroll-bar .increment-button,
.code-viewer .scroll-pane .scroll-bar .decrement-button {

    -fx-max-height: 0.0;
    -fx-max-width: 0.0;
    -fx-min-height: 0.0;
    -fx-min-width: 0.0;
    -fx-pref-height: 0.0;
    -fx-pref-width: 0.0;
    -fx-opacity: 0.0;
    
}